* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-ali {
  align-items: center;
}

.gap {
  gap: 10px;
}

.grid {
  display: grid;
}

 #card-holder{
  padding: 30px;
}


body {
  background-image: url("assets/pokebackground.jpg");
  background-size: cover;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu"
}

#root {
  width: min(100%,1400px);
}

#title, #fetch-display, .header-text p {
  text-align: center;
}

#title{
  font-size: 40px;
}

#fetch-display{
  position: absolute;
  color:white;
  background-color: rgb(0, 210, 11);
  padding: 10px;
  border-radius: 10px;
  bottom: 10%;
  right: 0px;
  width: 100%
}

form{
  flex-direction: column;
}

input {
  padding: 3px;
}

.form-buttons{
  gap: 20px;
}

button{
  font-family: inherit;
  font-weight: bold;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.2);
  color: white;
  background-color: rgb(0, 161, 214);
}

header{
  position: relative;
  gap: 20px;
  min-height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scores {
  position: absolute;
  right: 30px;
  top: 10px;
}

.card {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  place-items: center;
  max-height: 200px;
  transition: 300ms ease-in;
  cursor: pointer;
}

.card:hover {
  border-color: rgb(0, 161, 214);
  transform: translateY(10px);
}

.card img {
  scale: 1.1;
}

header, #card-holder{
  background-color: white;
  border-radius: 10px;
  border: 5px solid rgb(17, 255, 17);
}

#card-holder {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
  min-height: 70vh;
}


@media screen and (max-width: 1000px){
  body{
    padding: 20px;
    background-image: url("assets/pokebackground-small.jpg");
  }

  #fetch-display{
    background-color: rgb(0, 191, 255);
  }

  header, #card-holder{
    border-color: rgb(0, 191, 255);
  }
}

@media screen and (max-width: 650px){
  #scores{
    position: static;
  }
}